body{
  height: 100%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

#content-holder{
  width: 100%;
}

.tab-data{
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .tab-data{
    display: block;
    float: left;
    margin-top: 100px;
  }
}

#input-holder{
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.input-container{
  padding-right: 20px;
  display: inline-block;
  width: 25%;
}
@media only screen and (max-width: 900px) {
  .input-container{
    padding-top: 20px;
    display: block;
    width: 100%;
  }
}

#class-input-holder{
  width: 100%;
}

.input-row{
  width: 100%;
  display: inline;
}

.class-input{
  display: inline;
  width: 80%;
}

.input-row button{
  display: inline;
  float: right;
}

.searchSuggestionBox{
  display: none;
  position: absolute;
  border: solid #4ab3e2 1px;
  background-color: #fff;
  cursor: default;
  z-index: 5;
}

.search_suggestion_item{
  display: block;
  width: 100%;
  color: #007bff;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.search_suggestion_item:hover{
  background-color: #007bff;
  color: #fff;
}

#calendar-controls{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.controls{
  margin-top: 20px;
  height: 10%;
}

#calendar-controls span,p{
  display: inline-block;
}

/*************** Cal **********************/

#cal-container{
  margin-top: 50px;
}
@media only screen and (max-width: 900px) {
  #cal-container{
    margin-top: 0; 
  }
}

.header{
text-align: center;
}

#cal{
width: 100%;
height: 100%;
text-align: center;
overflow: auto;
}

#cal-container{
height: 85%;
width: 100%;
}

.time{
font-size: 15px;
color: #gray
}
@media only screen and (max-width: 900px) {
  .time{
    padding: 0;
  }
}


.inner{
padding-left: 0px;
padding-right: 0px;
height: 45px;
}

.inner{
  border: #bdc3c7 solid 1px;
}

.background-div{
  width: 100%;
  position: absolute;
  box-shadow: 3px 3px grey;
}
@media only screen and (max-width: 900px) {
  .background-div{
    width: 100%;
    position: absolute;
  }
}

.calendar-break{
  visibility: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media only screen and (max-width: 900px) {
  .calendar-break{
    display: none;
  }
}

.class-info{
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 5;
  font-family: fantasy;
  color: #2c3e50;
}

.calendar-text-small{
  font-size: 10px;
  visibility: visible;
}

.time-long{
  display: block;
}
@media only screen and (max-width: 900px) {
  .time-long{
    display: none;
  }
}

.time-short{
  display: none;
}
@media only screen and (max-width: 900px) {
  .time-short{
    display: block;
  }
}







/***************************************/


.selected-color-1{
  background-color: #e74c3c;
}

.selected-color-2{
  background-color: #FFEB3B;
}

.selected-color-3{
  background-color: #2980b9;
}

.selected-color-4{
  background-color: #9b59b6;
}

.selected-color-5{
  background-color: #e67e22;
}

.selected-color-6{
  background-color: #34495e;
}

.selected-color-7{
  background-color: #1abc9c;
}

.selected-color-8{
  background-color: orange;
}

@media only screen and (max-width: 900px) {
  .Su, .Sa{
    display: none;
  }

  .section-p{
    display: none;
  }

  .classname-p{
    z-index: 5;
    text-align: center;
    font-size: .6em;
    color: #2c3e50;
  }
}
